<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="icon" href="~/images/LS_Logo.svg" />
</head>
<body>
    <div class="grid">
        <div class="menu-container">
            <svg class="logo" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 203.44 187.29">
                <path d="M25.52,21.64V170.07H179.6V21.64ZM154.6,61.18H123.71a23.9,23.9,0,1,0,0,47.8,3.9,3.9,0,1,1,0,7.8H82.83V46.64H154.6ZM50.52,145.07V46.64H62.83v90.14h60.88a23.9,23.9,0,1,0,0-47.8,3.9,3.9,0,1,1,0-7.8H154.6v63.89Z" />
            </svg>
            <div class="menu-item">
                @Html.ActionLink("Home", "Index", "Home")
            </div>
            <div class="menu-item">
                @Html.ActionLink("Portfolio", "Index", "Portfolio")
            </div>
            <div class="menu-item">
                @Html.ActionLink("About", "Index", "About")
            </div>
            <div class="menu-item">
                @Html.ActionLink("Contact", "Index", "Contact")
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
