<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lsubakportfolio</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="icon" href="~/images/LS_Logo.svg" />
</head>
<body>
    <div class="grid">
        <div class="menu-container">
            <svg class="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 203.44 187.29" xml:space="preserve">
            <path d="M25.52,36.47v118.77c0,8.19,6.64,14.83,14.83,14.83h124.43c8.19,0,14.83-6.64,14.83-14.83V36.47
	                c0-8.19-6.64-14.83-14.83-14.83H40.34C32.15,21.64,25.52,28.28,25.52,36.47z M154.6,61.18l-30.35,0c-13.1,0-24.4,10.71-24.44,23.81
	                c-0.05,13.15,10.59,23.88,23.71,23.98c2.02,0.02,3.84,1.45,4.06,3.46c0.26,2.34-1.58,4.33-3.88,4.33H82.83V46.64h71.77V61.18z
	                 M50.52,145.07V46.64h12.31v75.8c0,7.92,6.42,14.34,14.34,14.34h46c13.1,0,24.4-10.71,24.44-23.81
	                c0.05-13.15-10.59-23.88-23.71-23.98c-2.02-0.02-3.84-1.45-4.06-3.47c-0.25-2.34,1.58-4.33,3.87-4.33h30.9v63.89H50.52z" />
            </svg>
            <div class="menu-item">
                @Html.ActionLink("Portfolio", "Index", "Portfolio")
            </div>
            <div class="menu-item">
                <a href="https://github.com/lsubak/PortfolioSite">GitHub</a>
            </div>
            <div class="menu-item">
                @Html.ActionLink("About", "Index", "About")
            </div>
            <div class="menu-item">
                @Html.ActionLink("Contact", "Index", "Contact")
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
